<div class="wrapper">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="80px">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div class="titr">
                چمدونم
            </div>
            <p>
                درباره ما
                چمدونم سامانه هوشمند رزرو اقامتگاه است و از سال ۱۳۹۷ در این حوزه فعالیت می‌کند. هدف از برپایی این
                سامانه،
                توسعه کسب و
                کار مشتریان به نسبت سایر رقباست به همین دلیل با داشتن نیروهای جوان و مجرب می‌کوشد تا نیاز تمام افراد
                جامعه
                در زمینه
                اقامت و گردشگری را برطرف سازد

            </p>
        </div>


        <img src="assets/about_us/tehran.svg">
    </div>
</div>