<div class="wrapper">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="80px">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div class="titr">
                با ما در تماس باشید
            </div>
            <p>
                چمدونم در طول سفر همراه شما بوده و۲۴ ساعته در واحد پشتیبانی آماده پاسخگویی و راهنمایی شماست. با پشتیبانی
                چمدونم ارتباط
                بگیرید و با خیال راحت به تیم ما اعتماد کنید


            </p>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px" dir="rtl">
            <div fxLayout="column" fxLayoutAlign="space-between end" fxLayoutGap="20px" fxFlex="50">
                <div fxLayout="row" fxLayoutAlign="start center" class="contact-data" fxLayoutGap="16px">
                    <span class="title">آدرس:</span>
                    <span>تهران، شهرک غرب، گل افشان شمالی، کوچه ۱، پلاک ۱، واحد ۶</span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="contact-data" fxLayoutGap="16px">
                    <span class="title">شماره تلفن پشتیبانی :</span><span>021-91070518</span>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="contact-data" fxLayoutGap="16px">
                    <span class="title">پست الکترونیکی:</span>
                    <span>info@chamodoonam.com</span>
                </div>

            </div>



            <div fxFlex="50">
                <img src="assets/contact_us/contact_us.svg">
            </div>

        </div>

    </div>
</div>