<div class="wrapper" style="margin-bottom: 128px;">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="80px" style="margin-top: 100px;">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div class="titr">
                قوانین کلی
            </div>
            <div class="titr">
                قوانین و مقررات ثبت نام و استفاده ازچمدونم
            </div>
            <p>

                • کاربر با ثبت نام در چمدونم می‌پذیرد که قوانین و مقررات چمدونم را به صورت کامل مطالعه کرده، به مفاد آن
                آگاه و تمامی
                موارد آن را پذیرفته است. در صورتی که در آینده در این قوانین و مقررات تغییراتی ایجاد شود، در همین صفحه
                به‌روزرسانی و
                منتشر می‌شود و کاربر توافق می‏‌کند که استفاده مستمر از سایت به‌معنی پذیرش هرگونه تغییر است.

            </p>
            <p>
                • هر فرد تنها می‌تواند یک حساب کاربری به عنوان مهمان، یک حساب کاربری به عنوان میزبان و یا هردو به صورت
                همزمان در چمدونم
                داشته باشد.
            </p>
            <p>
                • مسئولیت تمامی فعالیت‌هایی که از طریق حساب کاربری اشخاص در چمدونم انجام می‌شود به عهده کاربر است.
            </p>
            <p>
                • مسئولیت حفظ امنیت اطلاعات حساب کاربری از جمله نام کاربری و رمز عبور به عهده کاربر است. در صورت مفقود
                یا سرقت اطلاعات
                حساب کاربری، کاربر موظف است در اسرع وقت موضوع را به اطلاع چمدونم برساند. بدیهی است تا زمانی که
                اطلاع‌رسانی به شرکت انجام
                نشده است مسئولیت همه فعالیت‌هایی که از طریق حساب کاربری مذکور انجام شده و می‌شود به عهده کاربر خواهد
                بود.
            </p>
            <p>
                • در برخی شرایط ممکن است برای استفاده از خدمات، از کاربر درخواست احراز هویت شود، در چنین شرایطی اگر
                کاربر اطلاعات کافی
                را در اختیار چمدونم قرار ندهد، چمدونم می‌تواند حساب کاربری وی را مسدود کرده و از ارایه خدمات به وی
                خودداری کند.
            </p>
            <p>
                • کاربر می‌پذیرد که چمدونم ارایه دهنده خدمات اقامتی نیست و تنها یک بستر نرم‌افزاری برای ارتباط میان
                میزبانان و مهمانان
                جهت توافق به انجام یک اقامت است.
            </p>
            <p>
                • چنانچه چمدونم به هر دلیل به این نتیجه برسد که حضور یک کاربر (میزبان/مهمان) ممکن است برای سایر کاربران
                مطلوب نباشد و یا
                موجب بروز مشکل شود، حق حذف دسترسی کاربر مذکور به شرکت چمدونم را دارد.
            </p>

        </div>

        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div class="titr">
                قوانین و مقررات عمومی
            </div>
            <p>
                • کلیه فرآیند های خرید در اپلیکیشن چمدونم منطبق با قوانین جاری جمهوری اسلامی ایران ازجمله قانون مدنی،
                کیفری، قانون تجارت
                الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر موظف به رعایت قوانین و مقررات وب سایت در
                هنگام خرید است.
            </p>
            <p>
                • چمدونم می تواند در صورت افزودن قابلیت ها و خدمات جدید و یا در جهت بهبود عملکرد، اقدام به به روز رسانی
                ضوابط و مقررات
                اپلیکیشن خود نماید.
            </p>
            <p>
                • چمدونم تنها یک بستر ارتباطی میان میزبان و مهمان است و به عنوان مجری تجربه یا میزبان اقامتگاه و هتل
                محسوب نمی گردد. در
                چمدونم، میزبان تجربه و یا اقامتگاه خود را معرفی می نماید و مهمان نیز با آگاهی نسبت به فعالیت پلتفرم
                چمدونم اقدام به رزرو
                هتل، اقامتگاه و تجربه و پرداخت به صورت آنلاین می نماید. چمدونم در جهت بهبود ارایه خدمات خود نهایت تلاش
                خود را می نماید.
            </p>
            <p>
                • اطلاعات اقامتگاه‌ها توسط مالکان آن در چمدونم درج شده است. به‌علت تغییرات دوره‌ای این اطلاعات، تأیید
                صحت آنها برعهده
                همان منابع است. چمدونم تلاش می‌کند تا این تغییرات را در کمترین زمان ممکن به‌روزرسانی کند.
            </p>
            <p>
                • اگر مالکیت اقامتگاه‌ها با چمدونم بود، مطمئنا تمامی خدمات اعلام شده از طرف مراکز اقامتی را از لحاظ
                کیفیت و صحت تضمین
                می‌کرد، اما چمدونم صرفا به عنوان یک بستر الکترونیک نسبت به اعلام خدمات اقدام می نماید و می کوشد کلیه
                اطلاعاتی را که توسط
                میزبان اعلام می گردد، اعتبار سنجی و یا راستی آزمایی نماید. اطلاعات اقامتگاه در اپلیکیشن چمدونم شامل
                وضعیت ظرفیت اقامتگاه
                ، نقشه اقامتگاه ، قیمتهای به روز شده ، تصاویر اقامتگاه، است حال ممکن است اقامتگاه‌ها در مواردی در ارایه
                خدمات اعلامی
                کوتاهی کند و یا کلیه یا برخی از اطلاعات مندرج در صفحه اقامتگاه یا تجربه چمدونم مطابق با اطلاعاتی که در
                زمان معرفی آن
                محصولات اعلام شده، نباشد. در این موارد مسئولیت ناشی از هرگونه نقض یا مغایرت با مالک اقامتگاه یا تجربه
                است ما از شما
                می‌خواهیم تا این قبیل مشکلات را با چمدونم درمیان بگذارید تا ضمن پیگیری، بازخورد آن را در اختیار سایر
                مسافرین قرار داده و
                در صورت لزوم، سرویس مذکور از محصولات چمدونم حذف گردد.
            </p>
            <p>
                • احراز هویت مهمان و شرایط محرمیت، از سوی اقامتگاه بر اساس قوانین جاری ارزش ها و شئونات اسلامی است؛
                اقامتگاه‌ها این
                اختیار را خواهند داشت در صورت عدم احراز شرایط محرمیت از ورود مسافرین به اقامتگاه ممانعت بعمل آمده و
                مطابق قوانین کنسلی
                اقدام نماید. در این موارد چمدونم هیچ گونه مسئولیتی در قبال اطلاعات ناصحیح نخواهد داشت.
            </p>
            <p>
                • هنگامی که شما رزرو خود را کنسل می‌کنید، این ریسک برای اقامتگاه وجود دارد تا نتواند در زمان باقی مانده،
                واحد اقامتی خود
                را به دیگری واگذار نماید رساند. بنابراین منطقی است تا مبلغی را به‌عنوان جریمه‌ی استرداد از مهمان دریافت
                کند.. اطمینان
                داشته باشید ما تلاش می‌کنیم در صورت انصراف از رزرو، کمترین هزینه را بپردازید؛ برای همین از شما می‌خواهیم
                به محض انصراف ،
                چمدونم را از تصمیم خود مطلع کنند تا جریمه کمینه شود. وجه مسترد شده به شماره حسابی که با آن از چمدونم
                خرید کرده آید،
                واریز خواهد شد.
            </p>
            <p>
                • مهمان می‌پذیرد رزرو هر اقامتگاه به معنای تأیید مقررات آن اقامتگاه از سوی ایشان و همراهان است و می
                بایست به ضوابط آن
                پایبند باشد.
            </p>
            <p>
                • زمان ورود و خروج هر اقامتگاه در صفحه آن ذکر شده است. میزبان و مهمان متعهد به رعایت این زمانبندی هستند.
            </p>
            <p>
                • مهمان می‌پذیرد چنانچه به واسطه اقامت ایشان، خسارتی به محل اقامت و وسایل آن وارد شود، مسئولیت تأمین
                هزینه‌های مربوط به
                آن بر عهده ایشان خواهد بود.
            </p>
            <p>
                • رزرو خریداری شده، متعلق به مهمانی است که مشخصاتش هنگام ثبت سفارش وارد شده است، لذا غیر قابل انتقال به
                غیر است.
            </p>
            <p>
                • در صورتی که در مدت زمان اقامت مهمان در یک اقامتگاه، عملی خلاف قوانین جمهوری اسلامی ایران انجام شود و
                مسئولیت آن با
                فردی است که مرتکب جرم شده است و چمدونم هیچگونه مسئولیتی در خصوص تخلفات یا جرایم صورت گرفته ندارد.
            </p>
            <p>
                • در صورت درخواست لغو رزرو اقامتگاه مبلغ رزرو پس از اعمال قوانین کنسلی اقامتگاه ، به شماره شبا، حساب یا
                کارت بانکی درج
                شده توسط کاربر در حساب کاربری ایشان واریز می‌شود. تمام تلاش چمدونم بر آن است تا عودت مبلغ در کمترین زمان
                ممکن صورت
                پذیرد، اما بنا به شرایط ممکن است این فرآیند تا 72 ساعت کاری به‌طول انجامد.
            </p>
        </div>


        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div class="titr">
                قوانین و مقررات اختصاصی رزرو اقامتگاه‌ها
            </div>
            <p>
                • واریز مبلغ توسط مهمان به معنای رزرو قطعی محسوب نشده و تنها پس از تایید توسط میزبان رزرو قطعی میشود و
                صدور واچر از طرف
                شرکت چمدونم، رزرو و خرید قطعی شده تلقی می‌شود. در این حالت اطلاعات رزرو و اطلاعات تماس میزبان و مهمان از
                طریق پیام کوتاه
                و ایمیل به آنها ارسال می‌شود و می‌توانند هماهنگی‌های لازم را با هم به عمل آورند. و در صورت عدم تایید
                نهایی رزرو، مبلغ
                واریز شده طی مدت 72 ساعت عودت داده خواهد شد. مهمان متعهد می‌شود که تعداد همراهان مراجعه کننده به
                اقامتگاه جهت اقامت،
                دقیقاً مطابق تعداد اعلام شده در درخواست رزرو باشد، در غیر این صورت، پذیرش نفر اضافه منوط به تأیید میزبان
                و هزینه آن بر
                عهده مهمان است. شرکت چمدونم نیز هیچگونه مسئولیتی در خصوص پیگیری افزودن تعداد همراهان مهمان نخواهد داشت.
            </p>
            <p>
                • مهمان متعهد است قوانین اشاره شده توسط میزبان در استفاده از اقامتگاه احترام گذاشته و آن ها را اجرا
                نماید در غیر اینصورت
                مسئولیت عدم رعایت و نقض فوانین برعهده مهمان است و چمدونم در این خصوص مسئولیتی نخواهد داشت. به طور مثال
                در صورتی که
                میزبان ورود حیوانات خانگی را ممنوع اعلام کرده باشد و مهمان آن شرایط را رعایت ننماید، مسئولیت اتفاقات رخ
                داده با مهمان
                است.
            </p>
            <p>
                • میزبان می‌پذیرد که قیمت درج شده در چمدونم نهایی است و اخذ هرگونه هزینه اضافه از مهمان تحت هر عنوان اعم
                از حق کمیسیون،
                پورسانت، حق دلالی و غیره، مجاز نیست. در غیر این‌صورت، اقامتگاه و نام کاربری وی حذف می‌شود. ارایه خدمات
                اضافه بر آنچه که
                در صفحه اقامتگاه درج شده است، خارج از تعهد مذبور است و منوط به توافق با مهمان است.
            </p>
            <p>
                • میزبان می‌تواند درخواست اقامت را بپذیرد و یا رد کند. در صورتی که میزبان درخواست اقامتی را پذیرفت،
                متعهد به ارایه خدمات
                براساس آن درخواست است در غیر این‌صورت خسارات وارده به مهمان و چمدونم و عواقب ناشی از آن بر عهده ایشان
                است.
            </p>
            <p>
                • مهمان می پذیرد هرگونه تغییر در جزییات رزرو را با هماهنگی چمدونم انجام دهد و از هرگونه توافق مستقیم با
                میزبان که مطابق
                اطلاعات رزرو نباشد، خودداری نماید. هرگونه واریز وجه نیز به میزبان به صورت مستقیم ممنوع است و چمدونم تنها
                مسئول پیگیری
                تراکنش هایی است که از طریق اپلیکیشن چمدونم صورت می گیرد و در قبال تراکنش های خارج از ضوابط اپلیکیشن هیچ
                مسئولیتی را بر
                عهده نمی گیرد.
            </p>
            <p>
                • میزبان متعهد می‌شود در صورت عدم مراجعه مهمان به اقامتگاه در تاریخ رزرو شده، اقامتگاه تا پایان مدت رزرو
                شده، برای مهمان
                خالی خواهد ماند، همچنین مهمان می‌پذیرد که در این شرایط هیچ‌ مبلغی به وی مسترد نخواهد شد. (در صورت
                درخواست لغو رزرو توسط
                مهمان، مطابق قوانین کنسلی اقامتگاه رفتار خواهد شد.)
            </p>
            <p>
                • میزبان باید در نظر داشته باشد که هر قانونی برای اقامتگاه خود می گذارد در امتداد قوانین چمدونم باشد در
                غیر این صورت
                قوانین چمدونم ارجهیت دارد.
            </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px" dir="rtl">
            <!-- <div fxLayout="column" fxLayoutAlign="space-between end" fxLayoutGap="20px" fxFlex="50">
                <div fxLayout="row" fxLayoutAlign="start center" class="contact-data" fxLayoutGap="16px">
                    <span class="title">آدرس:</span>
                    <span>تهران، شهرک غرب، گل افشان شمالی، کوچه ۱، پلاک ۱، واحد ۶</span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="contact-data" fxLayoutGap="16px">
                    <span class="title">شماره تلفن پشتیبانی :</span><span>021-91070518</span>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="contact-data" fxLayoutGap="16px">
                    <span class="title">پست الکترونیکی:</span>
                    <span>info@chamodoonam.com</span>
                </div>

            </div> -->

            <img src="assets/rules/rule.svg" width="100">


            <button mat-button class="submit-btn" (click)="onSubmit()">تایید</button>



        </div>

    </div>
</div>