<div fxLayout="row" id="datepicker-group" [formGroup]="formData">
    <!-- <mat-form-field appearance="outline">
        <mat-label>کی بریم؟</mat-label>
        <input matInput [matDatepicker]="pickerFrom" [min]="minDate" [max]="maxDate" placeholder="کی بریم؟"
            (dateChange)="addEventFromDate($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>کی بیاییم؟</mat-label>

        <input matInput [matDatepicker]="pickerTo" [min]="maxDateForCheckout" [max]="maxDate" placeholder="کی بیاییم؟"
            (dateChange)="addEventToDate($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>کی بریم؟ کی بیاییم؟</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" [dateFilter]="myFilter">
            <input matStartDate placeholder="کی بریم؟" (dateChange)="addEventFromDate($event)">
            <input matEndDate placeholder="کی بیاییم" (dateChange)="addEventToDate($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

    </mat-form-field>

</div>