<div id="app-footer" dir="rtl">
    <div [fxLayout.gt-xs]="'row'" [fxLayoutAlign]="'center flex-end'" [fxLayoutGap.gt-xs]="'8%'" [fxLayout]="'row'"
        id="footer-content">
        <div id="footer-text" fxFlex fxLayout="column">
            <div id="link-container">

                <div id="first-column">
                    <div id="titr"><b>چمدونم</b></div>
                    <div class="link">نحوه ثبت سفارش</div>
                    <div class="link">تماس با ما</div>
                    <a class="link" router-link="about-us">درباره ما</a>
                </div>
                <div id="second-column">
                    <div id="titl"><b>اطلاعات تکمیلی</b></div>
                    <div class="link">سوالات متداول</div>
                    <div class="link">ثبت شکایت</div>
                    <div class="link"> پیگیری سفارش</div>
                </div>

            </div>
        </div>

        <div fxLayout="column">
            <div id="footer-text" class="symbols" fxFlex fxLayout="column">
                <p>با نصب اپلیکشن چمدونم آسان ترین و کامل‌ترین و مطمئن‌ترین روش تهیه اقامتگاه را تجربه کنید.</p>

                <img src="assets/badges/google_play.png">
                <img src="assets/badges/app_store.png">

            </div>
        </div>
        <div fxLayout="column">
            <div id="footer-text" class="symbols" fxFlex fxLayout="column">
                <p>با نصب اپلیکشن چمدونم آسان ترین و کامل‌ترین و مطمئن‌ترین روش تهیه اقامتگاه را تجربه کنید.</p>

                <img src="assets/badges/google_play.png">
                <img src="assets/badges/app_store.png">

            </div>
        </div>



    </div>
    <div id="copy-right">
        <span>
            کلیه حقوق برای چمدونم محفوظ است | copyrigth2019-2019 | طراحی شده توسط شرکت پدیده مریلا
        </span>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="7px" class="col-section">
            <img src="assets/icons/twitter.svg">
            <img src="assets/icons/facebook.svg">
            <img src="assets/icons/instagram.svg">
            <img src="assets/icons/pinterst.svg">
            <img src="assets/icons/linkdin.svg">
            <img src="assets/icons/email.svg">
            <img src="assets/icons/telegram.svg">
        </div>
    </div>
</div>






<!-- 
        <div id="footer-text" fxFlex>
            <div id="link-container">
                <div id="first-column">
                    <div id="titr"><b>چمدونم</b></div>
                    <div class="link">نحوه ثبت سفارش</div>
                    <div class="link">تماس با ما</div>
                    <div class="link">درباره ما</div>
                </div>
                <div id="second-column">
                    <div id="titl"><b>اطلاعات تکمیلی</b></div>
                    <div class="link">سوالات متداول</div>
                    <div class="link">ثبت شکایت</div>
                    <div class="link"> پیگیری سفارش</div>
                </div>
        

        
            </div>
        </div>
        <div id="footer-text" class="symbols" fxFlex fxLayout="column">
            <p>با نصب اپلیکشن چمدونم آسان ترین و کامل‌ترین و مطمئن‌ترین روش تهیه اقامتگاه را تجربه کنید.</p>
        
            <img src="assets/badges/google_play.png">
            <img src="assets/badges/app_store.png">
        
        </div>
        <div id="footer-text" class="symbols" fxFlex fxLayout="column">
            <p>با نصب اپلیکشن چمدونم آسان ترین و کامل‌ترین و مطمئن‌ترین روش تهیه اقامتگاه را تجربه کنید.</p>
        
            <img src="assets/badges/google_play.png">
            <img src="assets/badges/app_store.png">
        </div> -->