<div class="footer" fxLayout="column" dir="rtl" fxLayoutGap="60px" fxLayoutAlign="space-between center">
    <div class="footer-wrapper" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="17px">
        <div class="section" fxLayout="column" fxLayoutGap="14px" fxFlex="15">
            <span class="title"><b> چمدونم</b></span>
            <ul>
                <li>
                    <a routerLink="about-us">درباره ما</a>
                </li>
                <li>
                    <a routerLink="contact-us">تماس با ما</a>
                </li>
                <!-- <li>راهنمای خرید</li> -->
                <li>پرسش و پاسخ</li>
                <li><a routerLink="rules">
                        قوانین و مقررات
                    </a></li>
                <li><a href="http://chamedoonam.com/news/" target="_blank">
                        مجله چمدونم
                    </a>
                </li>
                <!-- <li>فرصت های شغلی</li> -->
            </ul>
        </div>
        <div class="section" fxLayout="column" fxLayoutGap="14px" fxFlex="15">
            <span class="title"><b> اطلاعات تکمیلی</b></span>

            <ul>
                <li>راهنمای میزبان</li>
                <li>راهنمای میهمان</li>
                <li>راهنمای میزبان</li>
                <li>راهنمای تجربه</li>
                <li>قوانین و مقررات اقامتگاه</li>
                <li>قوانین و مقررات تجربه</li>
            </ul>

        </div>
        <div class="section" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="14px">
            <span class="title"><b> اپلیکشن چمدونم</b></span>
            <p>با نصب اپلیکشن چمدونم آسان ترین و کامل‌ترین و مطمئن‌ترین روش تهیه اقامتگاه را تجربه کنید.</p>

            <div fxLayout="row" fxLayoutGap="16px">
                <!-- android play store-->
                <a href="https://play.google.com/store/apps/details?id=com.mybay.chamedoonam" target="_blank"><img
                        src="assets/footer/google_play.png"> </a>
                <!-- android bazzar-->
                <a href="https://cafebazaar.ir/app/com.mybay.chamedoonam" target="_blank"> <img
                        src="assets/footer/coffe_bazzar.png">
                </a>

            </div>

            <div fxLayout="row" fxLayoutGap="16px">
                <a href="https://sibapp.com/applications/%DA%86%D9%85%D8%AF%D9%88%D9%86%D9%85" target="_blank">
                    <img src="assets/footer/sib-app.png">
                </a>

                <a href="https://apps.apple.com/us/app/chamedoonam/id1521634278" target="_blank">
                    <img src="assets/footer/app_store.png">
                </a>

            </div>

        </div>
        <div class="section" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="14px">
            <span class="title"><b>مجوزهای چمدونم</b></span>
            <p>گردشی تمامی مدارک و مجوز‌های رسمی برای فعالیت آنلاین را دارا میباشد. شماکاربران
                گرامی میتوانید با امنیت و آرامش خاطر تمامی بلیت‌های خود را به صورت کاملا آنلاین
                از گردشی تهیه کنید و از سفرتان لذت ببرید</p>
            <div fxLayout="row" fxLayoutGap="16px">
                <!-- <img src="assets/badges/icon1.png"> -->
                <a target="_blank"
                    href="http://tehran.irannsr.org/fa/page/104366-%D9%85%D8%B4%D8%A7%D9%87%D8%AF%D9%87-%D8%A7%D8%B9%D8%B6%D8%A7.html?ctp_id=1086&id=20405">
                    <img src="http://chamedoonam.com/wp-content/uploads/2020/07/enamad-04-2.png">
                </a>
                <img src="assets/badges/icon3.png">

                <a href="https://trustseal.enamad.ir/?id=117473&code=eiXuw11HhMlEImgishWM"><img
                        src="assets/badges/icon4.png"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-wrapper" id="ribbon" fxLayout="row">
        <div fxLayout="row" dir="rtl" style="width: 100%;" fxLayoutAlign="space-between center" class="ribbon">
            <div class="col-section">
                <span>
                    کلیه حقوق برای چمدونم محفوظ است | copyrigth2019-2019 | طراحی شده توسط شرکت پدیده مریلا
                </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="7px" class="col-section">
                <img src="assets/icons/twitter.svg">
                <img src="assets/icons/facebook.svg">
                <img src="assets/icons/instagram.svg">
                <img src="assets/icons/pinterst.svg">
                <img src="assets/icons/linkdin.svg">
                <img src="assets/icons/email.svg">
                <img src="assets/icons/telegram.svg">
            </div>
        </div>
    </div>
</div>