<!-- <mat-card id="show-boxing" [fxLayout]="'column'" [fxLayoutAlign]="'center'" [fxLayoutGap]="'17px'">

    <div *ngIf="isLoading" [fxLayout]="'row'" [fxLayoutAlign]="'center center'">
        <mat-spinner diameter="24" strokeWidth="2"></mat-spinner>
    </div>

    <img class="hidden-img" src="{{datas.image}}" (error)="onImgError()" (load)="onImgLoaded()" alt="" />

    <div *ngIf="!isLoading && !showDefaultImage" class="fading-img" [ngClass]="{'is-fading-in':isFadingIn}">
        <div class="img-hover-zoom img-hover-zoom--blur">
            <img src="{{datas.image}}">
        </div>


    </div>

    <mat-card-content fxLayout="column" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="space-between" id="rating">
            <span><b>{{datas.totalScore}}</b></span>
            <div>
                <app-rating [rating]="datas.totalScore"></app-rating>
            </div>
        </div>
        <span> {{datas.type}}</span>
        <span class="title-small"><b matTooltip="{{datas.title}}" matTooltipPosition="below">{{datas.title}}</b></span>
        <div fxLayout="row" fxLayoutAlign="space-between" dir="rtl" id="price">
            <span>هر نفر/ تومان</span>
            <span class="price-number">{{datas.price| friendlyPrice}}</span>
        </div>
    </mat-card-content>
</mat-card> -->

<mat-card id="show-boxing" [fxLayout]="'column'" [fxLayoutAlign]="'center'" [fxLayoutGap]="'17px'">
    <div *ngIf="isLoading" [fxLayout]="'row'" [fxLayoutAlign]="'center center'">
        <mat-spinner diameter="24" strokeWidth="2"></mat-spinner>
    </div>

    <img class="hidden-img" src="{{datas.image}}" (error)="onImgError()" (load)="onImgLoaded()" alt="" />

    <div *ngIf="!isLoading && !showDefaultImage" class="fading-img" [ngClass]="{'is-fading-in':isFadingIn}">
        <div class="img-hover-zoom img-hover-zoom--blur">
            <img src="{{datas.image}}">
        </div>


    </div>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="space-between" id="rating">
            <span><b>{{datas.totalScore}}</b></span>
            <div>
                <app-rating [rating]="datas.totalScore"></app-rating>
            </div>
        </div>
        <span> {{datas.type}}</span>
        <span class="title-small"><b matTooltip="{{datas.title}}" matTooltipPosition="below">{{datas.title}}</b></span>
        <div fxLayout="row" fxLayoutAlign="space-between" dir="rtl" id="price">
            <span>هر نفر/ تومان</span>
            <span class="price-number">{{datas.price| friendlyPrice}}</span>
        </div>
    </mat-card-content>
</mat-card>