$WHITE: #ffffff;
$GRAY_100: #f5f5f5;
$GRAY_400: #cecece;

$GRAY_500: #b9b9b9;
$GRAY_600: #adadad;
$GRAY_800: #727272;

$BASIC_COLOR: #fefefe;
$CYAN: #00cccc;
$CYAN_LIGHT: rgb(0, 204, 204, 0.1);

$HOT_PINK: #ff6699;
$BLUEBERRY_TWO: #333399;
$NAVY_DARK_BLUE: #000033;

$BLUE_BERRY: #663399;

$DUST: #5b5b79;
$LIGHT_DUST: #6f6f92;
