<div class="wrapper">
    <form [formGroup]="sortingFormData">

        <div class="sorting" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" dir="rtl">
            <div class="title" fxFlex="15">
                <p>مرتبسازی :</p>
            </div>
            <div class="button-holder" fxFlex="70" fxLayoutGap="16px">
                <button mat-stroked-button>ارزانترین</button>
                <button mat-stroked-button>گرانترین</button>
                <button mat-stroked-button>تخفیف دار</button>
                <button mat-stroked-button>بیشترین امتیاز</button>
                <button mat-stroked-button>بیشترین درخواست</button>
            </div>
            <div class="show-on-map" fxFlex="15" fxLayout="column">
                <mat-slide-toggle formControlName="showOnMap"></mat-slide-toggle>
                <span>نمایش بر روی نقشه</span>
            </div>

        </div>
    </form>
</div>


<div class="wrapper" *ngIf="accommodations.length">
    <div [fxLayout]="'column'" [fxLayoutGap]="'140px'" style="margin-top:85px">
        <div dir="rtl">
            <b class="titr">
                برترین اقامتگاه {{accommodations[0]['city']}}
            </b>
        </div>
    </div>
    <div [hidden]="!(pageMode == pageModeType.regularSearch)" dir="rtl">


        <mat-grid-list [cols]="gridColsNumber" rowHeight="1:1" gutterSize="16">
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let data of accommodations">
                <app-regular-show-boxing [datas]="data" [title]="'برترین  اقامتگاه' " [fxLayout]="'row'"
                    [fxLayoutAlign]="'center center'"></app-regular-show-boxing>
            </mat-grid-tile>
        </mat-grid-list>

    </div>



    <div [hidden]="!(pageMode == pageModeType.searchOnMap)">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="18px">
            <div id="map" fxFlex="70">

                <app-map [locationInfo]="onTouchLocation" [accommodations]="accommodations">
                </app-map>

            </div>
            <div id="cardse" fxFlex="30">

                <vertical-show-boxing *ngFor="let data of accommodations" [datas]="data" [klass]="'regular'"
                    [title]="'برترین  اقامتگاه' " [fxLayout]="'row'" [fxLayoutAlign]="'center center'">
                </vertical-show-boxing>


            </div>
        </div>
    </div>

    <pagination></pagination>
</div>




<div *ngIf="accommodations === undefined && accommodations.length == 0">
    <div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="50px" id="no-result">
        <img src="assets/message/stop.svg">

        <p class="err-msg">جستجوی شما نا‌موفق بوده است</p>

    </div>
</div>